/* RESET GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE DA APLICAÇÃO */
html,
body,
#root {
  height: 100%;
  width: 100%;
}

/* COR PADRÃO */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #000000;
}
